@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wonder Boys', cursive;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 36%, rgba(9, 14, 125, 1) 54%, rgba(4, 124, 197, 1) 100%, rgba(0, 212, 255, 1) 100%);
}